@import './valiabale.scss';

@import url('https://fonts.googleapis.com/css2?family=Marvel:wght@400;700&family=Oswald:wght@200;300;500;600;700&display=swap');

@mixin styleContentRight {
    &-right{
        width: 353px;
        &-title{
            display: block;
            margin-top: 1.1rem;
            font-family: 'Oswald', sans-serif;
            text-transform: uppercase;
            font-size: 1.4rem;
            width: 300px;
            margin-right: auto;
            margin-bottom: 1.1rem;
            color: rgb(218,203,70);
            img{
                margin-bottom: -5px;
            }
        }
        .container{
            @include displayFlex(start , start , true);
        }
        &-top{
            img{
                margin-bottom: -5px;
            }
             & > h1{
                display: inline-block;
                font-family: 'Oswald', sans-serif;
                text-transform: uppercase;
                font-size: 1.4rem;
                margin-right: auto;
                margin-bottom: 1.1rem;
                color: rgb(218,203,70);
            }
            &-ticked{
                width: 353px;
                background: url(../../../img/item_bg.gif);
                padding: .8rem .5rem;
                margin-bottom: .7rem;
                border-radius: 5px;
                box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.15);
                @include displayFlex(space-between , center , false);
                h1{
                    color: $color-text-main;
                    font-size: .9rem;
                    margin-right: auto;
                }
            }
        }
        &-advertisement2{
            width: 100%;
            & > img{
                width: 100%;
            }
            &-fb{
                border: 1px solid #fff;
                border-bottom: none;
                padding: .4rem;
             @include displayFlex(space-betweens, flex-end , false);
             background: url(../../img/header-bg.jpg);
             box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4), 1px 1px 0 rgba(0, 0, 0, 0.15);
             &-main{
                margin-left: .5rem;
                h1{
                    color: $color-text-main;
                    text-transform: uppercase;
                    font-size: 1rem;
                    margin-bottom: .3rem;
                   
                }
             &-link{
                  @include displayFlex(space-between, start , false);
                
                 background: #fff;
                 padding: .5rem .9rem;
                 border-radius: 3px;
                 
                img{
                    width: auto;
                    height: 13px;
                }
                span{
                    display: inline-block;
                    text-transform: capitalize;
                    font-size: .7rem;
                    font-weight: 700;
                    color: #000;
                    margin-left: .3rem;
                }
            }
            }
            &-countlike{
                margin-left: 1rem;
                color: $color-text-main;
                font-size: .8rem;
            }
            
        }
        }
        &-keywordpopular{
            width: 353px;
            
            .container{
                width: 100%;
                @include displayFlex(start , start , false );
                background: url(../../img/item_bg.gif);
                flex-wrap: wrap;
                a{
                    @include displayFlex(center , center , false);
                    height:  27px;
                    margin: .4rem;
                    span:nth-of-type(2){
                        line-height: 25px;
                        display: inline-block;
                        height: 100%;
                        background: url(../../img/bg-key_03.png);
                        border: 1px solid  rgba(0, 0, 0, 0.4);
                        border-right: none;
                        margin-top: -2px;
                        color: $color-text-main;
                        padding: 0 .3rem;
                    }
                   
                }
            }
           
        }
        &-actorprofile{
           
            width: 353px;
            .container{
                width: 100%;
                background: url(../../img/item_bg.gif);
            }
           &-main{
               height: 217px;
               width: 99%;
               margin: .3rem auto;
               @include backgroundImg('../../img/actor.jpg');
               position: relative;
               &-name{
                   font-size: 1rem;
                   position: absolute;
                   bottom: 0;
                   background: url(../../img/item_bg.gif);
                   width: 100%;
                   text-transform: capitalize;
                   font-weight: 700;
                   color: rgb(68,226,219);
                   padding: 1rem .4rem;
                   background-color: transparent;
               }
           }
        }
        &-movie{
            width: 353px;
            @include displayFlex(start , start , true);
               
             & > .container{
                 border-radius: 5px;
                 border-bottom: 1px solid #868489;
                overflow-y: scroll;
                width: 100%;
                padding: 5px;
                height: 477px;
                background: url(../../img/item_bg.gif);
                box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.15);
                &::-webkit-scrollbar{
                    border-radius: 10px;
                    width: 10px;
                    background: rgba(85,84,88, 0.4);
                }
                &::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    background: rgb(85,84,88);
                  }
                
            
        }
            &-child{
                width: 100%;
                border-bottom: 1px solid rgb(85,84,88);
                padding: 1rem;
                @include displayFlex(space-between, start ,false);
                & > img{
                    border: 1px solid #fff;
                }
                &-infor{
                    text-transform: capitalize;
                    color: $color-text-main;
                    color: rgb(68,226,219);
                    margin-left: 1rem;
                    *{
                        margin: .7rem 0;
                    }
                    h3{
                        margin-top: 0 ;
                        font-size: .9rem;
                        font-weight: 600;
                    }
                    h4{
                        color: $color-text-main;
                        font-size: .8rem;
                        font-weight: 600;
                    }
                    & > span{
                        display: block;
                        font-weight: 500;
                        font-size: .7rem;
                    }
            }
        
        }
        }
    }
    
}

